In [50]:
import pandas as pd

In [51]:
commodities = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/11-starter-kits/data/raw/starter-kits/CAF/Table7_CAF.csv")
commodities

             Fuel                        Parameter  Value
0       Crude oil  CO2 Emission Factor (kg CO2/GJ)   73.3
1         Biomass  CO2 Emission Factor (kg CO2/GJ)  100.0
2            Coal  CO2 Emission Factor (kg CO2/GJ)   94.6
3  Light Fuel Oil  CO2 Emission Factor (kg CO2/GJ)   69.3
4  Heavy Fuel Oil  CO2 Emission Factor (kg CO2/GJ)   77.4
5     Natural Gas  CO2 Emission Factor (kg CO2/GJ)   56.1

In [52]:
commodities['Commodity'] = commodities['Fuel']
commodities = commodities.drop(columns="Parameter")
commodities['Fuel'] = commodities['Fuel'].str.lower().str.replace("light fuel oil", "LFO").str.replace("heavy fuel oil", "HFO").str.replace("crude oil","crude_oil").str.replace("natural gas", "gas")
commodities

        Fuel  Value       Commodity
0  crude_oil   73.3       Crude oil
1    biomass  100.0         Biomass
2       coal   94.6            Coal
3        LFO   69.3  Light Fuel Oil
4        HFO   77.4  Heavy Fuel Oil
5        gas   56.1     Natural Gas

In [53]:
commodities = commodities.rename(columns={"Value": "CommodityEmissionFactor_CO2", "Fuel": "CommodityName"})
commodities

  CommodityName  CommodityEmissionFactor_CO2       Commodity
0     crude_oil                         73.3       Crude oil
1       biomass                        100.0         Biomass
2          coal                         94.6            Coal
3           LFO                         69.3  Light Fuel Oil
4           HFO                         77.4  Heavy Fuel Oil
5           gas                         56.1     Natural Gas

In [54]:
commodities['CommodityType'] = "Energy"
commodities

  CommodityName  CommodityEmissionFactor_CO2       Commodity CommodityType
0     crude_oil                         73.3       Crude oil        Energy
1       biomass                        100.0         Biomass        Energy
2          coal                         94.6            Coal        Energy
3           LFO                         69.3  Light Fuel Oil        Energy
4           HFO                         77.4  Heavy Fuel Oil        Energy
5           gas                         56.1     Natural Gas        Energy

In [55]:
commodities['HeatRate'] = 1
commodities['Unit'] = "kg CO2/GJ"
commodities

,CommodityName,CommodityEmissionFactor_CO2,Commodity,CommodityType,HeatRate,Unit
0,crude_oil,73.3,Crude oil,Energy,1,kg CO2/GJ
1,biomass,100.0,Biomass,Energy,1,kg CO2/GJ
2,coal,94.6,Coal,Energy,1,kg CO2/GJ
3,LFO,69.3,Light Fuel Oil,Energy,1,kg CO2/GJ
4,HFO,77.4,Heavy Fuel Oil,Energy,1,kg CO2/GJ
5,gas,56.1,Natural Gas,Energy,1,kg CO2/GJ

In [56]:
CO2_row = {"Commodity": "CO2fuelcomsbustion", "CommodityType": "Environmental", "CommodityName": "CO2f", "CommodityEmissionFactor_CO2":0, "HeatRate": 1, "Unit": "kt"}
commodities = commodities.append(CO2_row, ignore_index=True)
commodities

,CommodityName,CommodityEmissionFactor_CO2,Commodity,CommodityType,HeatRate,Unit
0,crude_oil,73.3,Crude oil,Energy,1,kg CO2/GJ
1,biomass,100.0,Biomass,Energy,1,kg CO2/GJ
2,coal,94.6,Coal,Energy,1,kg CO2/GJ
3,LFO,69.3,Light Fuel Oil,Energy,1,kg CO2/GJ
4,HFO,77.4,Heavy Fuel Oil,Energy,1,kg CO2/GJ
5,gas,56.1,Natural Gas,Energy,1,kg CO2/GJ
6,CO2f,0.0,CO2fuelcomsbustion,Environmental,1,kt

In [57]:
muse_commodities = pd.read_csv("/Users/alexanderkell/Documents/SGI/Projects/11-starter-kits/data/external/muse_data/default/input/GlobalCommodities.csv")
muse_commodities

,Commodity,CommodityType,CommodityName,CommodityEmissionFactor_CO2,HeatRate,Unit
0,Electricity,Energy,electricity,0.0,1,PJ
1,Gas,Energy,gas,56.1,1,PJ
2,Heat,Energy,heat,0.0,1,PJ
3,Wind,Energy,wind,0.0,1,PJ
4,CO2fuelcomsbustion,Environmental,CO2f,0.0,1,kt

In [59]:
commodities.reindex(muse_commodities.columns, axis=1)

,Commodity,CommodityType,CommodityName,CommodityEmissionFactor_CO2,HeatRate,Unit
0,Crude oil,Energy,crude_oil,73.3,1,kg CO2/GJ
1,Biomass,Energy,biomass,100.0,1,kg CO2/GJ
2,Coal,Energy,coal,94.6,1,kg CO2/GJ
3,Light Fuel Oil,Energy,LFO,69.3,1,kg CO2/GJ
4,Heavy Fuel Oil,Energy,HFO,77.4,1,kg CO2/GJ
5,Natural Gas,Energy,gas,56.1,1,kg CO2/GJ
6,CO2fuelcomsbustion,Environmental,CO2f,0.0,1,kt